// temp
body {
  @extend %system_normal--400;
}

.item-id {
  background-color: #ccc;
}

// navleft1-01
// ==================================================/
@mixin navleft1-01 {
  .navleft1-01 {
    a {
      display: block;
      color: #fff;

      &:hover {
        text-decoration: none;  
      }
    }

    li {
      @extend %padd--6;
      background-color: #000;  
      height: 34px;
      border-bottom: 1px solid #000;


      &:nth-of-type(odd) {
        background-color: #666;
      }

      &:first-of-type {
        background-color: green;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

@include navleft1-01;

// navleft1-02
// ==================================================/
@mixin navleft1-02 {
  .navleft1-02 {
    a {
      color: #fff;
      display: block;
      height: 50px;
      padding-top: 14px;

      &:hover {
        text-decoration: none;  
      }
    }

    li {
      @extend %padd--6;
      background-color: #ccc;  
      border-bottom: 1px solid #000;

      &:nth-of-type(odd) {
        background-color: #666;
      }

      &:first-of-type {
        background-color: pink;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .navleft1-02_img-holder {
    @extend %padd--4;
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    border: 1px solid #000;

    > img {
      height: 100%;
    }
  }
}

@include navleft1-02;

// navleft1-03
// ==================================================/
@mixin navleft1-03 {
  .navleft1-03 {
    a {
      color: #fff;
      display: block;

      &:hover {
        text-decoration: none;  
      }
    }

    li {
      @extend %padd--6;
      background-color: #999;
      border-bottom: 1px solid #000;    

      &:after,
      &:before {
        @extend %clearfix;
      }

      &:nth-of-type(odd) {
        background-color: #666;
      }

      &:first-of-type {
        background-color: green;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }    

  .navleft1-03_img-holder {
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 4px;
    border: 1px solid #000;

    > img {
      height: 100%;
    }
  }
}

@include navleft1-03;

// navleft1-04
// ==================================================/
@mixin navleft1-04 {
// Horizontally and vertically centers block elements (andy.scss)
// Important: you must have a parent element with `position: relative`.
@mixin navleft1-04--center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}

.navleft1-04 {
  a {
    color: #fff;
    display: block;
    height: 50px;
    padding-top: 14px;

    &:hover {
      text-decoration: none;  
    }
  }

  li {
    border-bottom: 1px solid #000;
    padding: 6px;

    &:nth-of-type(odd) {
      background-color: #666;
    }

    &:last-of-type {
      border-bottom: none;
    }  
  }
}

.navleft1-04_img-holder {
  width: 50px;
  height: 50px;
  display: inline;
  float: left;
  margin-bottom: 4px;
  margin-right: 4px;
  position: relative;
  text-align: center;
  border: 1px solid #000;

  > span {
    /* vertical center*/
    @include navleft1-04--center-both;
  }
}
}

@include navleft1-04;