// navSide101
// ==================================================/
@mixin navSide101_theme() {
  .navSide101 {
    a {    
      color: #fff;
    }

    li {
      background-color: #000;  
      border-bottom: 1px solid #000;

      &:nth-of-type(odd) {
        background-color: #666;
      }

      &:first-of-type {
        background-color: green;
      }
    }
  }
}
@include navSide101_theme();

.navSide101 {
  .navSide101_heading {
    @extend %padd--4;
  }

  a {
    @extend %display--block;

    &:hover {
      text-decoration: none;  
    }
  }

  li {
    @extend %padd--6;
    height: 34px;
    
    &:last-of-type {
      border-bottom: none;
    }
  }
}

// navSide102
// ==================================================/
@mixin navSide102_theme() {
  .navSide102 {
    .navSide102_heading {
      background-color: #fff;
    }

    a {
      color: #fff;
    }

    li {
      background-color: #ccc;  
      border-bottom: 1px solid #000;

      &:nth-of-type(odd) {
        background-color: #666;
      }

      &:first-of-type {
        background-color: pink;
      }
    }
    
    .navSide102_img-holder {
      border: 1px solid #000;
    } 
  }
}
@include navSide102_theme();

.navSide102 {
  .navSide102_heading {
    @extend %padd--4;
  }

  li {
    @extend %padd--4;
    height: 50px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  a {
    @extend %display--block;
    @include center-h--unk;
       
    &:hover {
      text-decoration: none;  
    }
  }

  .navSide102_img-holder {
    @extend %padd--4;
    @extend %margin-bottom--4;
    height: 100%;
    float: left;
    margin-right: 4px;

    > img {
      @extend %img--responsive;
    }
  }
}

// navSide103
// ==================================================/
@mixin navSide103_theme() {
  .navSide103 {
    .navSide103_heading {
    
    }

    a {
      color: #fff;
    }

    li {
      background-color: #999;
      border-bottom: 1px solid #000;    

      &:nth-of-type(odd) {
        background-color: #666;
      }

      &:first-of-type {
        background-color: green;
      }
    }

    .navSide103_img-holder {
      border: 1px solid #000;
    }
  } 
}
@include navSide103_theme();

.navSide103 {
  .navSide103_heading {
    @extend %padd--4;
  }

  a {
    @extend %display--block;
    margin-bottom: 2px;

    &:hover {
      text-decoration: none;  
    }
  }

  li {
    @extend %padd--4;
    @extend %clearfix;
    
    &:nth-of-type(odd) {
      
    }

    &:first-of-type {
     
    }

    &:last-of-type {
      
    }    
  }

  .navSide103_img-holder {
    @extend %display--block;
    @extend %padd--4;
    @extend %margin-bottom--4;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 4px;
        
    > img {
      height: 100%;
    }
  }
}   

// navSide104
// ==================================================/
@mixin navSide104 {
// Horizontally and vertically centers block elements (andy.scss)
// Important: you must have a parent element with `position: relative`.
@mixin navSide104--center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}

.navSide104 {
  a {
    color: #fff;
    display: block;
    height: 50px;
    padding-top: 14px;

    &:hover {
      text-decoration: none;  
    }
  }

  li {
    @extend %padd--6;
    background-color: #999;
    border-bottom: 1px solid #000;

    &:nth-of-type(odd) {
      background-color: #666;
    }

    &:first-of-type {
      background-color: green;
    }

    &:last-of-type {
      border-bottom: none;
    }  
  }
}

.navSide104_img-holder {
  width: 50px;
  height: 50px;
  display: inline;
  float: left;
  margin-bottom: 4px;
  margin-right: 4px;
  position: relative;
  text-align: center;
  border: 1px solid #000;

  > span {
    // placeholder for fa
    @include navSide104--center-both;
    }

  .fa {
    background-color: #000;
    width: 20px;
    height: 20px;
  }

}
}

@include navSide104;

// navleft1-05
// ==================================================/
// todo