// navSide101
// ==================================================/
@mixin navSide101 {
  .navSide101 {
    a {
      display: block;
      color: #fff;

      &:hover {
        text-decoration: none;  
      }
    }

    li {
      @extend %padd--6;
      background-color: #000;  
      height: 34px;
      border-bottom: 1px solid #000;


      &:nth-of-type(odd) {
        background-color: #666;
      }

      &:first-of-type {
        background-color: green;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}

@include navSide101;

// navSide102
// ==================================================/
@mixin navSide102 {
  .navSide102 {
    a {
      color: #fff;
      display: block;
      height: 50px;
      padding-top: 14px;

      &:hover {
        text-decoration: none;  
      }
    }

    li {
      @extend %padd--6;
      background-color: #ccc;  
      border-bottom: 1px solid #000;

      &:nth-of-type(odd) {
        background-color: #666;
      }

      &:first-of-type {
        background-color: pink;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .navSide102_img-holder {
    @extend %padd--4;
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    border: 1px solid #000;

    > img {
      height: 100%;
    }
  }
}

@include navSide102;

// navSide103
// ==================================================/
@mixin navSide103 {
  .navSide103 {
    a {
      color: #fff;
      display: block;

      &:hover {
        text-decoration: none;  
      }
    }

    li {
      @extend %padd--6;
      background-color: #999;
      border-bottom: 1px solid #000;    

      &:after,
      &:before {
        @extend %clearfix;
      }

      &:nth-of-type(odd) {
        background-color: #666;
      }

      &:first-of-type {
        background-color: green;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }    

  .navSide103_img-holder {
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 4px;
    border: 1px solid #000;

    > img {
      height: 100%;
    }
  }
}

@include navSide103;

// navSide104
// ==================================================/
@mixin navSide104 {
// Horizontally and vertically centers block elements (andy.scss)
// Important: you must have a parent element with `position: relative`.
@mixin navSide104--center-both {
  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translate(-50%, -50%), 'webkit' 'ms');
}

.navSide104 {
  a {
    color: #fff;
    display: block;
    height: 50px;
    padding-top: 14px;

    &:hover {
      text-decoration: none;  
    }
  }

  li {
    @extend %padd--6;
    background-color: #999;
    border-bottom: 1px solid #000;

    &:nth-of-type(odd) {
      background-color: #666;
    }

    &:first-of-type {
      background-color: green;
    }

    &:last-of-type {
      border-bottom: none;
    }  
  }
}

.navSide104_img-holder {
  width: 50px;
  height: 50px;
  display: inline;
  float: left;
  margin-bottom: 4px;
  margin-right: 4px;
  position: relative;
  text-align: center;
  border: 1px solid #000;

  > span {
    // placeholder for fa
    @include navSide104--center-both;
    }

  .fa {
    background-color: #000;
    width: 20px;
    height: 20px;
  }

}
}

@include navSide104;

// navleft1-05
// ==================================================/
// todo